* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    width: 100vw;
}

header, main, footer {
    width: 80vw;
    margin-inline: auto;
    padding: 10px;
    border: 1px solid black;
}

header > div.imagem-header, header > div.titulo-header {
    display: inline-block;
    border: 1px solid green;
}

header > div.imagem-header {
    width: 10%;
    text-align: center;
    
}
header > div.titulo-header {
    width: 89%;
    text-align: left;
    
}

