* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


 body {
    margin: 0;
    width: 96vw;
    background-color: black;
}

header,  footer {
    width: 80vw;
    margin-inline: auto;
    padding: 10px;
    border: 1px solid black;
}

h1 {
    color: #832FF7;
    font-size: 60px;
    text-align: center;
}

h2 {
    margin-top: 20px;
    color: #832FF7;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 10px;    
}

label {
    display: block;
}


header > div.imagem-header, header > div.titulo-header {
    display: inline-block;
    
}

header > div.imagem-header {
    width: 10%;
    text-align: center;
    
}

header > div.imagem-header > img {
    width: 100px;
}
header > div.titulo-header {
    width: 86%;
    text-align: center;
    
}


main {
    width: 80vw;
    margin-inline: auto;
    padding: 5px;
}


main > section.nav {
    display: inline-block;
    width: 18%;
    vertical-align: top;
    background-color: black;
    
}

main > section.content {
    display: inline-block;
    width: 70%;
}

section.content > p {
    padding: 10px;
    margin-block: 7px;
    color: whitesmoke;
} 

main > section.nav a {
    display: block;
    border: 1px solid black;
    line-height: 30px;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    margin-block: 5px;
    
}

main > section.nav a:hover {
    background-color: #832FF7;
    color: black;
    transition: .5s
}

main > section.content a {
    border: 1px solid black;
    line-height: 30px;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    
}

main > section.content a:hover {
    background-color: #832FF7;
    color: black;
    transition: .5s
}

footer {
    margin-top: 20px;
}

div.footer ul {
    background-color: rgba(6, 224, 6, 0.788);
    padding-inline: 15px;
}
div.footer a {
font-weight: 600;

}
div.footer a:hover {
    color: #a96efc;
}

 
section.contact-us {
    width: 100%;
    margin-top: 25px;
    background-color:rgba(6, 224, 6, 0.541);
    border-radius: 10px;
    padding: 15px 10px;
    

}
label {
    color: #9b63e9;
    padding: 5px 0 5px 0;
    font-size: 18px;
    font-weight: 600;
}

input.geral-button {
    border: 1px solid black;
    width: 160px;
    background-color: #832FF7;
    line-height: 30px;
    padding: 10px;
    border-radius: 8px;
    color: rgba(6, 224, 6, 0.788);
    font-weight: 600;
}

input.geral-button:hover {
    background-color:rgba(6, 224, 6, 0.788);
    font-size: 16px;
    color:  #832FF7;
    transition: .5s;
}