*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body {
        margin: 0;
        width: 96vw;
        background-color: #1f1f20;
    }
    main {
        width: 80vw;
        /*border: 2px solid red;*/
        margin-inline: auto;
        margin-top: 50px;
    }

    a {
        text-decoration: none;
    }

    ul {
    list-style: none;
    padding: 10px;    
}

    h2 {
        color: #77bf6c;
    }
    main > section.nav {
        display: inline-block;
        width: 18%;
        vertical-align: top;
        background-color: #1f1f20;
        
    }

    main > section.nav a {
        display: block;
        ;
        line-height: 30px;
        padding: 10px;
        border-radius: 8px;
        color: white;
        font-weight: 600;
        margin-block: 5px;
        
    }
    main > section.nav a:hover {
        background-color: #449040;
        color: black;
        transition: .5s
    }
    

    div.gallery {
        display: inline-block;
        width: 80%;
   
    }

    div.gallery > img {
        width: 16%;
        border-radius: 15%;
        padding: 15px;
        opacity: 0.8;
         
    }

    div.gallery > img:hover {
        opacity: 1;
    } 
    div.gallery > img.first-left-img {
        margin-left: 250px;
    }









