@charset "UTF-8";

* {
margin: 0;
padding: 0;
box-sizing: border-box;
direction: rtl;
}

main {
    padding: 20px;
}

fieldset{
    margin-bottom: 20px ;
    padding: 5px;
}

label.on-input {
    display: block;
}

p {padding: 15px 0px 10px 0px;}

