@charset "UTF-8";

* {
margin: 0;
padding: 0;
box-sizing: border-box;
direction: rtl;
font-family: 'Arimo', sans-serif;
}

body{
    margin: auto;
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    width: 90vw;
}

header {
    margin-top: 15px;
}
header > h1 {
    padding-bottom: 15px;
}

header > a {
    background-color: rgba(255, 255, 0, 0.699);
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}

header > a:hover {
    background-color: rgba(255, 255, 0, 0.89);
    transition: .5s;
}

main {
    padding: 20px;
}

fieldset{
    margin: 10px 0px 10px;
    padding: 5px;
}

label.on-input {
    display: block;
    
}

p {padding: 15px 0px 10px 0px;}

.radio-yes {
padding-left: 10px;
}

input.final-button {
    background-color: rgba(255, 255, 0, 0.699);
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}

input.final-button:hover {
    background-color: rgba(255, 255, 0, 0.89);
    transition: .5s;
}